h2 {
  margin-bottom: 30px;
}
.title {
  color: #dd0031;
}
.subtitle {
  color: #666;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
  .subtitle {
    font-size: 1.2rem;
  }
}
