.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #666;
}
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}
.social-media {
    display: flex;
    margin-left: 15px;
    gap: 10px;
}
a, .footer-content {
    color: white;
}