.header {
  background-color: #dd0031;
  height: 60px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}
.active {
  border-bottom: 2px solid white;;
}

nav,
ul {
  height: 100%;
}

ul {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
li:hover, mat-icon:hover {
  scale: 1.1;
}
li {
  transition: scale 0.5s ease-out;
  padding: 5px 0;
  cursor: pointer;
  list-style: none;
}
li:last-child {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  ul {
    justify-content: center;
    gap: 20px;
    padding: 0;
  }
  li:last-child {
    margin-right: 0px;
  }
}