.header {
  background-color: #dd0031;
  height: 60px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}
.active {
  border-bottom: 2px solid white;;
}

nav,
ul {
  height: 100%;
}

ul {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
li:hover, mat-icon:hover {
  scale: 1.1;
}
li, mat-icon {
  transition: scale 0.5s ease-out;
  padding: 5px 0;
  cursor: pointer;
  list-style: none;
}
mat-icon {
  margin-right: 20px;
}
