::ng-deep .mdc-evolution-chip__text-label {
    display: flex !important;
    justify-content: center;
    gap: 10px;
}
mat-chip {
    padding: 10px 30px;
}
h3 {
    margin-bottom: 10px;
}
.main-languages img {
    display: block;
    margin: 0 auto;
}
.framework-container{
    margin-bottom: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.frameworks {
   display: grid;
   grid-template-columns: repeat(
    auto-fit,
    minmax(240px, 1fr)
   );
   gap: 50px;
}
.frameworks > p  {
    margin-bottom: 40px;
}
.frameworks > div  {
    text-align: center;
}
.frameworks > div > p {
    text-align: justify;
}
a {
    text-decoration: none;
}
.frameworks .angular a { 
    color: #DD0031;
}
.roadmap {
    color: #F99C28;
}

@media screen and (min-width: 900px) {

}