<div class="about-me">
  <app-breadcrumb
    title="About me"
    subtitle="With a touch of humour"
  ></app-breadcrumb>

  <section class="container-about">

    <div class="about-me-description">
      <p>Since I was a child development was appealing for me, I still remember my first lines of codes in batch, since then I just knew I had to study something related to computer science and development.</p>
      <p>I have managed to finish studies and achieve some experience in the jobs i have performed, credits to stackoverflow.</p>
      <p>Currently I am oriented to front end development and working with the latest Angular version. Looking in open projects to contribute and expand my knowledge.</p>
    </div>

    <div class="about-me-info">
      <mat-card class="my-card-info">
        <h3>Frontend developer, at least trying</h3>
        <div class="my-personal-info">
          <mat-card-content>
            <div class="info-row">
              <mat-icon
                class="material-icons-outlined"
                aria-hidden="false"
                aria-label="Full name icon"
                >badge</mat-icon
              >
              <span>Juanjo Lozano Barceló</span>
            </div>
            <div class="info-row">
              <mat-icon
                class="material-icons-outlined"
                aria-hidden="false"
                aria-label="Full name icon"
                >alternate_email</mat-icon
              >
              <span>lbarcelo.juanjo@gmail.com</span>
            </div>
            <div class="info-row">
              <mat-icon
                class="material-icons-outlined"
                aria-hidden="false"
                aria-label="Full name icon"
                >smartphone</mat-icon
              >
              <span>Maybe not the best idea</span>
            </div>
            <div class="info-row">
              <mat-icon
                class="material-icons-outlined"
                aria-hidden="false"
                aria-label="Full name icon"
                >map</mat-icon
              >
              <span>Mallorca, Spain</span>
            </div>
            <div class="info-row">
              <mat-icon
                class="material-icons-outlined"
                matTooltip="I didn't know what format to choose, so make it dynamic!"
                aria-hidden="false"
                aria-label="Birthday icon"
                >cake</mat-icon
              >
              <span>{{'10/15/1997' | date: dynamicDate}}</span>
            </div>
          </mat-card-content>
          <img src="../assets/images/my_face.jpg" alt="" width="200" />
        </div>
      </mat-card>
    </div>

  </section>

 <section class="highlight-container">
  
   <div class="highlight-item">
    <img src="../../../assets/images/frameworks.webp" alt="frontend frameworks" width="300">
    <small>I love the front end! for one reason or <br /> another I have managed to work with <br /> the current top frameworks.</small>
   </div>
   <div class="highlight-item">
    <img src="../../../assets/images/learning.png" alt="frontend frameworks" width="260">
    <small>On constant development with the <br /> latest technologies and testing my <br /> skills, check my codewars profile.</small>
   </div>
   <div class="highlight-item">
     <ng-lottie [options]="options" width="280px"></ng-lottie>
     <small>Looks like me, without the smile on the face.</small>
   </div>

  </section>
  
</div>
