<div class="about-me">
  <app-breadcrumb
    title="About me"
    subtitle="With a touch of humour"
  ></app-breadcrumb>

  <div class="container">
    <div class="about-me-description">
      <p>Specialised</p>
    </div>

    <div class="about-me-info">
      <mat-card class="my-card-info">
        <mat-card-header><h2>Frontend developer</h2></mat-card-header>
        <mat-card-content>
          <div class="info-row">
            <mat-icon
              class="material-icons-outlined"
              aria-hidden="false"
              aria-label="Full name icon"
              >badge</mat-icon
            >
            <span>Juanjo Lozano Barceló</span>
          </div>
          <div class="info-row">
            <mat-icon
              class="material-icons-outlined"
              aria-hidden="false"
              aria-label="Full name icon"
              >alternate_email</mat-icon
            >
            <span>lbarcelo.juanjo@gmail.com</span>
          </div>
          <div class="info-row">
            <mat-icon
              class="material-icons-outlined"
              aria-hidden="false"
              aria-label="Full name icon"
              >smartphone</mat-icon
            >
            <span>Maybe not the best idea</span>
          </div>
          <div class="info-row">
            <mat-icon
              class="material-icons-outlined"
              aria-hidden="false"
              aria-label="Full name icon"
              >map</mat-icon
            >
            <span>Mallorca, Spain</span>
          </div>
        </mat-card-content>
        <img src="../assets/images/my_face.jpg" alt="" width="240" />
      </mat-card>
    </div>
  </div>
</div>
